<div class="row z-depth-1">
  <div class="col-12">
    {{pokemon?.name}}
  </div>
  <div class="col-12">
    <img *ngIf="!showShiny" [src]="pokemon?.sprites?.front_default" alt="thumbnail" class="img-thumbnail"
      style="width: 140px">
    <img *ngIf="showShiny" [src]="pokemon?.sprites?.front_shiny" alt="thumbnail" class="img-thumbnail"
      style="width: 140px">
    <button mdbBtn size="sm" type="button" [class.shiny-toggle]="showShiny" mdbWavesEffect (click)="toggleShiny()">Shiny</button>
  </div>
    <div class="col-12">
      <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect (click)="log()">Log pokemon</button>
    </div>
  </div>
