<mdb-card class="mh-50">
  <ng-container *ngIf="pokemon; else loading">
    <div class="row justify-content-center">
      <!-- Pokemon name -->
      <div class="col-12 mt-2 mb-2 text-center">
        <h3>{{pokemon?.name | titlecase | space}} </h3>
      </div>
      <!-- If image not provided -->
      <div class="col-12 my-1 text-center">
        <p *ngIf="pokemon?.sprites?.frontDefault === '' && !showShiny"> Pokemon image not provided :( </p>
        <p *ngIf="pokemon?.sprites?.frontShiny === '' && showShiny"> Shiny pokemon image not provided :( </p>
      </div>
      <!-- Pokemon Img -->
      <div *ngIf="pokemon?.sprites" class="col-1"></div>
      <div  class="col-auto text-center" style="height: 140px;">
        <img [hidden]="showShiny" [src]="pokemon?.sprites?.frontDefault" alt="Pokemon image" class="img-thumbnail">
        <img [hidden]="!showShiny" [src]="pokemon?.sprites?.frontShiny" alt="Pokemon shiny" class="img-thumbnail">
      </div>
      <!-- Pokemon types -->
      <div *ngIf="pokemon?.types" class="col-1 rmpm">
        <div *ngFor="let type of pokemon?.types" [style.background-color]="typesMap[type.name]" class=" text-white badge text-wrap" style="width: 4rem;">
          {{type.name | titlecase}}
        </div>
      </div>
      <!-- Spinner -->
      <div *ngIf="!pokemon" class="spinner-border spinner-medium text-danger" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- Toggle shiny button -->
      <div class="col-12 text-center"> 
        <button class="button-rounded" id="shiny-button" mdbBtn size="sm" type="button" [class.shiny-toggle]="showShiny" (click)="toggleShiny()" mdbWavesEffect >Shiny</button>
      </div>
    </div>
    <!-- Display Section -->
    <div class="row justify-content-center mt-4 mb-4">
      <!-- Options -->
      <div mdbBtn *ngFor="let option of options" size="sm" class="col-auto" (click)="selectOption(option.option)" [class.shiny-toggle]="option.clicked">
        {{option.option}}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-md-8 mt-1 mb-3 border">
        <!-- Basic info -->
        <div *ngIf="options[0].clicked && pokemon?.abilities" class="text-justify mt-3 pb-3">
          <strong>Abilities:</strong>
          <span *ngFor="let ability of pokemon.abilities; let i = index">
            <span *ngIf="i !== 0">,</span> {{ability.name | titlecase}}</span>
          <br>
          <p class="mt-5"> <strong>Description:</strong> </p>
          <div *ngIf="!pokemon?.description" class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <p class="text-justify"> {{pokemon?.description}} </p>
        </div>
        <!-- Moves -->
        <div *ngIf="options[1].clicked" class="text-justify mt-3 pb-3">
          <span *ngFor="let move of pokemon.moves;">
            <div mdbBtn size="sm" class="col-auto ml-0" mdbWavesEffect (click)="desc.toggle(); getMoveDetails(move.url, move.name)"> {{move.name | titlecase}} </div>
            <div mdbCollapse #desc>
              <div *ngIf="(moves$ | async) as pokemonMove">
                <div *ngIf="pokemonMove[move.name]; else loadingMove">
                  <div class=" text-white badge text-wrap" style="width: 4rem;" [style.background-color]="typesMap[pokemonMove[move.name]?.type]">
                    {{pokemonMove[move.name]?.type}}
                  </div>
                  <p> {{pokemonMove[move.name]?.description}}</p>
                </div>
                <ng-template #loadingMove>
                  <div class="spinner-border text-danger text-center my-auto mx-auto " role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </span>
          <div class="w-100"></div>
        </div>
        <!-- Stats -->
        <div *ngIf="options[2].clicked" class="text-justify mt-3 pb-3">
          <div *ngFor="let stat of pokemon.stats"> <strong>{{stat.name | titlecase}}</strong> : {{stat.value}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="spinner-border spinner-medium text-danger text-center my-auto mx-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
<mdb-card>
