/* You can add global styles to this file, and also import other style files */
.shiny-toggle {
  border: 1px solid red;
  color: red;
}

.button-rounded {
  border-radius: 25px;
}

.spy {
  background-color: peachpuff;
}

.spy2 {
  border: 1px solid grey;
  border-radius: 5px;
}

.rmpm {
  padding: 0;
  margin: 0;
}
