/* You can add global styles to this file, and also import other style files */
#shiny-button {
  border: 1px solid rgba(255,255,255,0);
}

.shiny-toggle {
  border: 1px solid rgba(255,0,0,1) !important;
  color: red;
}

.button-rounded {
  border-radius: 25px;
}

.border {
  border: 1px solid grey;
  border-radius: 5px;
}

.container-fluid {
  min-height: 50vh;
}

.spinner-medium {
  height: 3.5rem;
  width: 3.5rem;
}

.card {
  font-weight: 300;
}

.img-thumbnail {
  width: 140px;
  height: inherit;
}

.spinner-center {
  min-height: inherit;
}

.mh-50{
  min-height: 50vh;
}

.rmpm {
  padding: 0;
  margin: 0;
}
