<mdb-card class="my-3">
  <mdb-card-body class="py-2 py-md-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-9">
          <div class="form-group rmpm row justify-content-center">
            <div class="col-auto my-auto">
              <!-- Pokemon name input -->
              <div class="md-form">
                <input mdbInput #pokemonNameInput type="text" class="form-control" id="pokemonNameInput" placeholder="Pokemon name" (input)="search(pokemonNameInput.value)">
                <ul *ngIf="(pokemonsFound$ | async) as pokemonsFound" class="list-group w-100 list-group-flush">
                  <li *ngFor="let pokemonName of pokemonsFound" class="list-group-item" (click)="changePokemon(pokemonName); pokemonNameInput.value=''">
                    {{pokemonName | titlecase}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-auto my-auto">
              <!-- Pokemon type dropdown -->
              <div class="btn-group btn-block" mdbDropdown>
                <button mdbDropdownToggle type="button"  mdbBtn size="sm" class="dropdown-toggle z-depth-1 button-rounded"
                  [style.border-color]="typesMap[selectedTypeOption]"
                  [style.color]="typesMap[selectedTypeOption]"
                  mdbWavesEffect> {{selectedTypeOption || "Types"}} </button>
                <div class="dropdown-menu">
                  <ul class="rmpm">
                    <li class="dropdown-item" (click)="getFilteredPage('');">
                      <div class="badge text-wrap" style="width: 4rem;"  >
                        none
                      </div>
                    </li>
                    <!-- Create type option for every pokemon Type -->
                    <li *ngFor="let pokemonType of typesMap | keyvalue" class="dropdown-item" (click)="getFilteredPage(pokemonType.key);" >
                      <div [style.background-color]="typesMap[pokemonType.key]" class="text-white badge text-wrap" style="width: 4.5rem;">
                        {{pokemonType.key | titlecase}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
