.rmpm {
  padding: 0;
  margin: 0;
}

.spy{
  background-color: red;

}

.spy2{
  background-color: blue;
}

.shiny-toggle {
  border: 1px solid red;
  color: red;
}

.button-rounded {
  border-radius: 25px;
  border: 2px solid white;
}

.dropdown-item {
  cursor: pointer;
}

.list-group-flush {
  position: absolute;
  z-index: 2;
}

.list-group-item {
  opacity: 85%;
  cursor: pointer;
}