<div class="row mr-0">
  <div class="col-12">
    <!-- Pokemon list -->
    <mdb-card class="force-overflow scrollbar scrollbar-danger">
      <ul class="list-group list-group-flush md-pills" *ngIf="(currentPokemonPage$ | async) as currentPokemonPage">
        <a type="submit" class="list-group-item" mdbWavesEffect *ngFor="let pokemon of currentPokemonPage | keyvalue | paginate: 
          {itemsPerPage: 20,
          currentPage: currentPageNumber,
          totalItems: 1050 }" [class.selected-pokemon]="pokemon.key === selectedPokemon" [ngClass]="{'selected-pokemon text-white': pokemon.key === selectedPokemon,
           'text-dark': pokemon.key !== selectedPokemon}" [routerLink]="['/pokemon', pokemon.name]">
          {{pokemon?.key | titlecase | space}}
        </a>
      </ul>
    </mdb-card>
  </div>
  <!-- Pagination labels -->
  <div class="col-12">
    <nav>
      <!--
      <ul class="pagination pg-red pagination-md justify-content-center">
        <li class="page-item" (click)="previousPage()">
          <a class="page-link" aria-label="Previous" mdbWavesEffect>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li *ngFor="let page of pageArray" class="page-item" [class.active]="selectedPage === page  " (click)="selectPage(page)"><a class="page-link" mdbWavesEffect>{{page}}</a></li>
        <li class="page-item" (click)="nextPage()">
          <a class="page-link" aria-label="Next" mdbWavesEffect>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    -->
      <pagination-controls directionLinks="true" autoHide="true" previousLabel="" nextLabel="" maxSize="5"
        (pageChange)="switchPage($event);" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page" class="my-pagination text-center">
      </pagination-controls>
    </nav>
  </div>
</div>